.darkModeToggle {
  font-size: calc(24px + 1vmin);
  cursor: pointer;
  top: 0vh;
  right: 5vw;
  position:absolute;
  cursor: pointer;
}

body.light-mode {
  background: #e0e0e0;
    color: rgb(70, 70, 70);
    transition: background-color 0.1s ease;
  }
body.dark-mode {
    background: #363636;
    color: rgb(240, 240, 240);
    transition: background-color 0.1s ease;
}

body.dark-mode .icon {
  color: rgb(180, 180, 180);
}

body.light-mode .icon {
  color: rgb(120, 120, 120);
}

body.dark-mode .NeoButton {
  background: #363636;
  box-shadow:  8px 10px 20px #2e2e2e,
      -8px -8px 20px #3e3e3e;
  transition: background-color 0.1s ease;
  transition: box-shadow 0.1s ease;
}

body.light-mode .NeoButton {
  background: #e0e0e0;
  box-shadow:  8px 10px 20px #bebebe,
  -8px -8px 20px #ffffff;
  transition: background-color 0.1s ease;
  transition: box-shadow 0.1s ease;
}

body.dark-mode .ScrollToTop {
  background: #363636;
  box-shadow:  5px 5px 12px #2e2e2e,
      -5px -5px 12px #3e3e3e;
}

body.light-mode .ScrollToTop {
  background: #e0e0e0;
  box-shadow:  5px 5px 12px #bebebe,
      -5px -5px 12px #ffffff;
}

body.dark-mode .projectContainer {
  background: #363636;
  box-shadow:  6px 6px 14px #2e2e2e,
      -6px -6px 14px #3e3e3e;
}

body.light-mode .projectContainer {
  background: #e0e0e0;
  box-shadow:  6px 6px 14px #bebebe,
      -6px -6px 14px #ffffff;
}

body.dark-mode .github {
  color: rgb(240, 240, 240);
}

body.light-mode .github {
  color: rgb(70, 70, 70);
}

body.dark-mode .vertical-timeline-element-content {
  background: #363636;
  box-shadow:  6px 6px 14px #2e2e2e,
      -6px -6px 14px #3e3e3e;
}

body.light-mode .vertical-timeline-element-content {
  background: #e0e0e0;
  box-shadow:  6px 6px 14px #bebebe,
      -6px -6px 14px #ffffff;
}

body.dark-mode .vertical-timeline-element-content-arrow {
  border-right-color: #363636;
}