.App-header {
    font-size: calc(20px + 2vmin);
    color: white;
    /*margin-right: 20vmin; // pad right side*/
  }
  
  h2 {
    font-size: calc(15px + 2vmin);
    color: white;
  }

  .Social-Icons span .icon {
    font-size: calc(11px + 2vmin);
    margin-left: 2vmin;
    margin-right: 2vmin;
    margin-bottom: 5vmin;
  }

  @media screen and (max-width: 1200px) {
    .App-header {
      font-size: calc(15px + 2vmin);
      color: white;
      padding-bottom: 2vmin;
      margin-right: 0px;
    }
}