.ProfileSection {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding-right:  30vmin;
    padding-left:  30vmin;
    padding-top: 10vmin;
  }
  
  .ProfileDesc {
    padding-right:  20vmin;
    padding-left:  20vmin;
  }

  /* Responsive UI */
@media screen and (max-width: 1200px) {

    .ProfileDesc {
      padding-right:  0vmin;
      padding-left:  0vmin;
    }
  
    @media screen and (max-width: 850px) {
      .ProfileSection {
        padding-right:  10vmin;
        padding-left:  10vmin;
        padding-top: 10vmin;
        padding-bottom: 10vmin;
      }
    }
  
  }