.vertical-timeline-element-subtitle {
    font-size: calc(3px + 2vmin);
    font-weight: 500;
}

.vertical-timeline-element-icon img{
    width: 90%;
    height: 90%;
    margin-top: 3px;
}

.vertical-timeline-element-icon {
    background: rgb(21, 197, 175);
}

@media screen and (min-width: 1171px) {
    .vertical-timeline-element-date {
        margin-left: -9vw;
        margin-right: 1vw;
    }
}