:root {
  --white: #f5f5f5;
  --black: #181818;
  --white-transparent: #f5f5f5be;
  --black-transparent: #181818be;
  --indigo: #41576d;
  --text-dark: rgba(240, 240, 240, 0.75);
  --text-light: rgba(10, 10, 10, 0.75);
  --primary: hsla(218.8, 100%, 50%, 1);
  --secondary: hsla(191.4, 100%, 50%, 1);

  --shade-percentage-1: 50%;
  --shade-percentage-2: 35%;

  /* Light theme colours */
  --background-light-primary: color-mix(in srgb,var(--primary),#FFF var(--shade-percentage-1));
  --background-light-secondary: color-mix(in srgb,var(--secondary),#FFF var(--shade-percentage-1));
  --background-lighter-primary: color-mix(in srgb,var(--background-light-primary),#FFF var(--shade-percentage-2));
  --background-lighter-secondary: color-mix(in srgb,var(--background-light-secondary),#FFF var(--shade-percentage-2));

  /* Dark theme colours */
  --background-dark-primary: color-mix(in srgb,var(--primary),#000 var(--shade-percentage-1));
  --background-dark-secondary: color-mix(in srgb,var(--secondary),#000 var(--shade-percentage-1));
  --background-darker-primary: color-mix(in srgb,var(--background-dark-primary),#000 var(--shade-percentage-2));
  --background-darker-secondary: color-mix(in srgb,var(--background-dark-secondary),#000 var(--shade-percentage-2));
}

/* semantic color variables for this project */
:root {
  --background-primary: var(--background-light-primary);
  --background-secondary: var(--background-light-secondary);
  --background-shade-primary: var(--background-lighter-primary);
  --background-shade-secondary: var(--background-lighter-secondary);
  --background-color: var(--white);
  --background-color-transparent: var(--white-transparent);
  --color-text: var(--text-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: var(--background-dark-primary);
    --background-secondary: var(--background-dark-secondary);
    --background-shade-primary: var(--background-darker-primary);
    --background-shade-secondary: var(--background-darker-secondary);
    --background-color: var(--black);
    --background-color-transparent: var(--black-transparent);
    --color-text: var(--text-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--background-color);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
