@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 10em;
  padding: 2rem;
  font-weight: normal;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 10rem 0 2em 0 ;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}
.reveal-pop.active {
  transform: scale(1);
  opacity: 1;
}
.reveal-pop{
  transition: 0.4s all ease;
  transform: scale(1.5);
  opacity: 0;
}
.reveal {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.4s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.main-stop {
  stop-color: var(--primary);
}
.alt-stop {
  stop-color: var(--secondary);
}