/* Styling */

html {
  scroll-behavior: smooth;
  overflow:auto;
}

.MainSection {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ProfileSection {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-right:  30vmin;
  padding-left:  30vmin;
  padding-top: 10vmin;
}

.ProjectsSection {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-right:  30vmin;
  padding-left:  30vmin;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.ProfileDesc {
  padding-right:  20vmin;
  padding-left:  20vmin;
}

.ScrollToTop {
  position: fixed;
  top: 10vmin;
  left: calc(50% - 2.5vmin);
  height: calc(25px + 2vmin);
  width: calc(25px + 2vmin);
  border-radius: 50%;
  cursor: pointer;
  font-size: calc(8px + 2vmin);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.Avatar {
  float: left;
  margin-left: 20vmin;
  height: 35vmin;
  margin-top: 2vmin;
  border-radius: 50%;
}
*/

.MainMenuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin-top: 5vmin;
  font-size: calc(2px + 2vmin);
}

/* Responsive UI */

@media screen and (max-width: 1200px) {

  .Avatar {
    float: none;
    margin-left: 0px;
    height: 40vmin;
  }

  .MainMenuList {
    /*
    display:block;
    flex-wrap: nowrap;
    justify-content: space-between;
    */
    margin-right: 10vmin;
    margin-left: 10vmin;
  }

  .ProfileDesc {
    padding-right:  0vmin;
    padding-left:  0vmin;
  }

  @media screen and (max-width: 850px) {
    .ProfileSection {
      padding-right:  10vmin;
      padding-left:  10vmin;
      padding-top: 10vmin;
      padding-bottom: 10vmin;
    }

    .ProjectsSection {
      padding-right:  20vmin;
      padding-left:  20vmin;
      padding-bottom: calc(20vmin + 80px);
    }
  }

}