/* Styling */

html {
  scroll-behavior: smooth;
  overflow:auto;
}

.MainSection {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ProfileSection {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ProjectsSection {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ScrollToTop {
  height: calc(25px + 2vmin);
  width: calc(25px + 2vmin);
  bottom: 90vh;
  right: 50vw;
  border: none;
  outline: none;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  font-size: calc(8px + 2vmin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScrollToTop:hover { 
  transform: scale(1.1); 
}

.Avatar {
  float: left;
  margin-left: 20vmin;
  height: 35vmin;
  margin-top: 2vmin;
  border-radius: 50%;
}

.MainMenuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  display: inline-block;
  margin-top: 5vmin;
  font-size: calc(2px + 2vmin);
}

/* Responsive UI */

@media screen and (max-width: 1200px) {

  .Avatar {
    float: none;
    margin-left: 0px;
    height: 40vmin;
  }

  .MainMenuList {
    display:block;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

}